@import "variables";
@import "iefix";

@import "layout/layout";
@import "themes/funtoplay3";
@import "themes/layout1";

.b-landing-constructor__button {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #545b62;
  border-radius: .25rem;
  transition: color .15s;
  background-color: #545b62;
  cursor: pointer;
  color: #ffffff;
}
.b-landing-constructor__video_type {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controller-panel,
.styler  {
  z-index: 9999 !important;
}
