// Colors
$color-blue: #192a41
$color-blue-bg: #111c2e
$color-blue-bg2: #2fa3e1
$color-form-text: #3b6880
$color-input-bg: #102035
$color-input-border-dark: #091626
$color-border-dark: #2e4059
$color-bt-blue: #1a79ac
$color-blue-chapter: #16263b
$color-dark-blue: #0f1a2c
$color-dark-blue-more: #0e182b
$color-dark-grey: #0f0f0f
$color-dark-grey-bg: #1b1b1b
$color-white: #ffffff
$color-yellow: #f7ac00
$color-black: #000000
$color-border-grey: #acacac
$color-green: #18d88b
$color-red: #d21313
/*
 * Color theme
 */
$magenta: #eb008b
$blue: #0072FF
$cyan: #00d4f0
$green: #18d88b
$yellow: #ffdd57
$orange: #ffa557
$red: #ff3d3d
$purple: #a324ea

/*
 * Graysacle
 */
$black: #000
$dark: #323c47
$gray: #c1c1c1
$gray-dark: darken($gray, 10%)
$gray-light: lighten($gray, 10%)
$light: #f5f5f5
$white: #fff

/*
 * Color theme
 */
$magenta: #eb008b
$blue: #0072FF
$cyan: #00d4f0
$green: #18d88b
$yellow: #ffdd57
$orange: #ffa557
$red: #ff3d3d
$purple: #a324ea

/*
 * Graysacle
 */
$black: #000
$dark: #323c47
$gray: #c1c1c1
$gray-dark: darken($gray, 10%)
$gray-light: lighten($gray, 10%)
$light: #f5f5f5
$white: #fff
